/*Página minha_conta/meus_pedidos */

h1
{
	color: #631c5c;
	float: left;
	font: 34px 'museo700';
	margin: 0 0 0;
	width: 100%;
}

#boxPedidoRealizado
{
	float: left;
    padding: 30px 0 20px;
    width: 100%;
}

#boxPedidoRealizado #tituloBoxPedido
{
	float: left;
	margin: 0 0 10px;
	width: 100%;
}

#boxPedidoRealizado #tituloBoxPedido h2
{
	color: #631c5c;
	float: left;
	font: 20px 'museo700';
	margin: 0 5px 0 0;
	text-align: center;
	width: 185px;
}

#boxPedidoRealizado #tituloBoxPedido h2.tituloBoxPedidoNumero
{

}

#boxPedidoRealizado .divInfoPedido
{
	background-color: #EDEDED;
	float: left;
	margin: 0 0 30px;
	padding: 0 0 0;
	width: 100%;
}

/* início status pedido */

#boxPedidoRealizado .divInfoPedido .toggleInfoPedido
{
	background-color: #fff;
    border-top: 1px solid #D3D3D3;
    float: left;
    padding: 25px 0 5px;
    width: 100%;
}

#boxPedidoRealizado .divInfoPedido.boxAberto
{
	
}

#boxPedidoRealizado .divInfoPedido.boxAberto .toggleInfoPedido
{
	background-color: #EDEDED;
    border-bottom-color: #C8C8C8;
}

#boxPedidoRealizado .divInfoPedido .toggleInfoPedido label
{
	color: #878787;
	float: left;
	font: 20px/35px 'museo300';
	margin: 0 5px 0 0;
	text-align: center;
	width: 185px;
}

#boxPedidoRealizado .divInfoPedido.boxAberto .toggleInfoPedido label
{
	color: #444;
}

#boxPedidoRealizado .divInfoPedido .boxInfoPedidoToggle
{
	display: none;
	float: left;
	padding: 0 0 30px;
	position: relative;
	width: 100%;
}

#boxPedidoRealizado .divInfoPedido .statusPedido
{
	float: none;
    margin: 0 auto;
    width: 635px;
}

#boxPedidoRealizado .divInfoPedido .statusPedido .tituloStatusPedido,
#boxPedidoRealizado .divInfoPedido .statusPedido .dataHoraStatusPedido
{
	float: left;
	margin: 15px 0 7px;
	width: 675px;
}

#boxPedidoRealizado .divInfoPedido .statusPedido .tituloStatusPedido .status,
#boxPedidoRealizado .divInfoPedido .statusPedido .dataHoraStatusPedido .status
{
	float: left;
	font: 16px 'museo300';
}

#boxPedidoRealizado .divInfoPedido .statusPedido .tituloStatusPedido .status1
{
	color: #557f47;
	margin: 0 0 0 -25px;
}

#boxPedidoRealizado .divInfoPedido .statusPedido .tituloStatusPedido .status2
{
	margin: 0 0 0 80px;
}

#boxPedidoRealizado .divInfoPedido .statusPedido .tituloStatusPedido .status3
{
	margin: 0 0 0 100px;
}

#boxPedidoRealizado .divInfoPedido .statusPedido .tituloStatusPedido .status4
{
	margin: 0 0 0 105px;
}

#boxPedidoRealizado .divInfoPedido .statusPedido .tituloStatusPedido.statusCor2 .status2,
#boxPedidoRealizado .divInfoPedido .statusPedido .tituloStatusPedido.statusCor3 .status2,
#boxPedidoRealizado .divInfoPedido .statusPedido .tituloStatusPedido.statusCor3 .status3,
#boxPedidoRealizado .divInfoPedido .statusPedido .tituloStatusPedido.statusCor4 .status2,
#boxPedidoRealizado .divInfoPedido .statusPedido .tituloStatusPedido.statusCor4 .status3,
#boxPedidoRealizado .divInfoPedido .statusPedido .tituloStatusPedido.statusCor4 .status4,
#boxPedidoRealizado .divInfoPedido .statusPedido .tituloStatusPedido.statusCor .status4
{
	color: #557f47;
}

#boxPedidoRealizado .divInfoPedido .statusPedido .tituloStatusPedido.statusCorCancelado
{

} 

#boxPedidoRealizado .divInfoPedido .statusPedido .imgStatusPedido
{
	background: url(/images/website/status_pedido.png) no-repeat left -7px;
	float: left;
	height: 35px;
	width: 635px;
}

#boxPedidoRealizado .divInfoPedido .statusPedido .imgStatusPedido.imgStatusPedido2
{
	background-position: 0 -81px;
}

#boxPedidoRealizado .divInfoPedido .statusPedido .imgStatusPedido.imgStatusPedido3
{
	background-position: 0 -154px;
}

#boxPedidoRealizado .divInfoPedido .statusPedido .imgStatusPedido.imgStatusPedido4
{
	background-position: 0 -190px;
}

#boxPedidoRealizado .divInfoPedido .statusPedido .imgStatusPedido.imgStatusPedidoCancelado1
{
	background-position: 0 -225px;
}

#boxPedidoRealizado .divInfoPedido .statusPedido .imgStatusPedido.imgStatusPedidoCancelado2
{
	background-position: 0 -267px;
}

#boxPedidoRealizado .divInfoPedido .statusPedido .imgStatusPedido.imgStatusPedidoCancelado3
{
	background-position: 0 -351px;
}

#boxPedidoRealizado .divInfoPedido .statusPedido .imgStatusPedido.imgStatusPedidoCancelado4
{
	background-position: 0 -393px;
}


#boxPedidoRealizado .divInfoPedido .statusPedido .dataHoraStatusPedido
{
	margin: 7px 0 0;
	width: 670px
}

#boxPedidoRealizado .divInfoPedido .statusPedido .dataHoraStatusPedido .statusHora
{
	text-align: center;
    width: 100px;
}

#boxPedidoRealizado .divInfoPedido .statusPedido .dataHoraStatusPedido .statusHora1
{
	color: #557f47;
	margin: 0 0 0 -30px;
}

#boxPedidoRealizado .divInfoPedido .statusPedido .dataHoraStatusPedido .statusHora2
{
	color: #557f47;
	margin: 0 0 0 85px;
}

#boxPedidoRealizado .divInfoPedido .statusPedido .dataHoraStatusPedido .statusHora3
{
	color: #557f47;
	margin: 0 0 0 105px;
}

#boxPedidoRealizado .divInfoPedido .statusPedido .dataHoraStatusPedido .statusHora4
{
	color: #557f47;
	margin: 0 0 0 110px;
}

#boxPedidoRealizado .divInfoPedido .statusPedido .dataHoraStatusPedido .statusHora.statusCorCancelado,
#boxPedidoRealizado .divInfoPedido .statusPedido .dataHoraStatusPedido .statusHora2.statusCorCancelado,
#boxPedidoRealizado .divInfoPedido .statusPedido .dataHoraStatusPedido .statusHora3.statusCorCancelado,
#boxPedidoRealizado .divInfoPedido .statusPedido .dataHoraStatusPedido .statusHora4.statusCorCancelado,
#boxPedidoRealizado .divInfoPedido .statusPedido .tituloStatusPedido.statusCorCancelado .status
{
	color: #f20;
}

/* fim status pedido */



#boxPedidoRealizado .detalhesPedido
{
	border-top: 1px solid #CFCFCF;
    float: left;
    margin: 10px 0;
    padding: 15px 2%;
    width: 96%;
}

#boxPedidoRealizado .detalhesPedido > div
{
    float: left;
    margin: 0 0 5px;
    padding: 15px 0 0;
}

#boxPedidoRealizado .detalhesPedido .cabecalhoDetalhesPedido,
#boxPedidoRealizado .detalhesPedido .listaProdutoPedido
{
	float: left;
    margin: 0 0 15px;
    text-align: center;
    width: 100%;
}

#boxPedidoRealizado .detalhesPedido .cabecalhoDetalhesPedido span,
#boxPedidoRealizado .detalhesPedido .listaProdutoPedido span
{	
	color: #555;
	float: left;
	font: 16px 'museo700';
	width: 120px;
}

#boxPedidoRealizado .detalhesPedido .detalhesPagamentoValor .cabecalhoDetalhesPedido span,
#boxPedidoRealizado .detalhesPedido .detalhesPagamentoValor .listaProdutoPedido span
{
	width: 180px;
}


#boxPedidoRealizado .detalhesPedido .cabecalhoDetalhesPedido span.tituloInfoProdutos,
#boxPedidoRealizado .detalhesPedido .listaProdutoPedido span.listaProdutoPedidoItemProduto
{
	text-align: left;
	width: 350px;
}


#boxPedidoRealizado .detalhesPedido .listaProdutoPedido span
{
	font-family: 'museo300';
}

#boxPedidoRealizado .detalhesPedido .cabecalhoDetalhesPedido span.spanFormaPagamento,
#boxPedidoRealizado .detalhesPedido .listaProdutoPedido span.spanFormaPagamento
{
	width: 340px;
}

#boxPedidoRealizado .detalhesPedido .listaProdutoPedido span.spanValorTotalPedido
{
	font: 22px 'museo700';
}

#boxPedidoRealizado .detalhesPedido #enderecoEntregaPedido
{
	float: left;
	margin: 0;
	width: 100%;
}

#boxPedidoRealizado .detalhesPedido #enderecoEntregaPedido h2
{
	color: #555;
    float: left;
    font: 16px 'museo700';
    margin: 0 0 15px;
    width: 100%;
}

#boxPedidoRealizado .detalhesPedido #enderecoEntregaPedido span
{
	color: #555;
    float: left;
    font: 16px 'museo300';
    margin: 4px 0;
    width: 100%;
}

#boxPedidoRealizado #btnPedido
{
	float: none;
    margin: 0 auto;
    width: 195px;
}

#boxPedidoRealizado #btnPedido .btn,
#boxPedidoRealizado .btnDetalhes,
#boxPedidoRealizado .boxCancelarPedido .btn
{
	background-color: #e3a426;
	border: none;
	border-bottom: 5px solid #bc881f;
	color: #fff;
	cursor: pointer;
	float: left;
	font: 14px 'museo700';
	margin: 0 0 0 0;
	padding: 7px 10px;
	text-align: center;
	width: 110px;
}

#boxPedidoRealizado .boxCancelarPedido .btn
{
	background-color: #A09F9F;
	border-color: #818181;

}

#boxPedidoRealizado .btnDetalhes
{
	background: url(/images/website/bg_btn_detalhes_pedidos.png) no-repeat 14px 10px #e3a426;
	font-family: 'museo500';
	margin: 0 0 0 10px;
    padding: 7px 5px 7px 25px;
    text-align: center;
    width: 130px;
}

#boxPedidoRealizado .btnDetalhes.btnDetalhesOpen
{
	background-position: 14px -10px; 
}

#boxPedidoRealizado #btnPedido .btn:hover,
#boxPedidoRealizado .btnDetalhes:hover
{
	background-color: #DA9C23;
}

#boxPedidoRealizado .boxCancelarPedido .btn:hover
{
	background-color: #939393;
}

#boxPedidoRealizado #btnPedido .btn:active,
#boxPedidoRealizado .btnDetalhes:active
{
	background-color: #bc881f;
}

#boxPedidoRealizado .boxCancelarPedido .btn:active
{
	background-color: #818181;
}

#boxPedidoRealizado #btnPedido .btnCancelar,
#boxPedidoRealizado .boxCancelarPedido .btnCancelar
{
	background-color: #641D5D;
	border-color: #4a1544;
	padding: 5px 10px;
    width: 150px;
}

#boxPedidoRealizado #btnPedido .btnCancelar:hover,
#boxPedidoRealizado .boxCancelarPedido .btnCancelar:hover
{
	background-color: #591a53;
}

#boxPedidoRealizado #btnPedido .btnCancelar:active,
#boxPedidoRealizado .boxCancelarPedido .btnCancelar:active
{
	background-color: #4a1544;
}


#boxPedidoRealizado span.listaPedidosVazio
{
	border: 1px solid #631c5c;
	border-radius: 5px;
	color: #631c5c;
	float: left;
	font: 18px 'museo700';
	margin: 15px 0 240px;
	padding: 20px 0;
	text-align: center;
	width: 100%;
}


/*Box cancelar pedido*/

#boxPedidoRealizado .boxCancelarPedido
{
	background-color: #F5F5F5;
    border: 1px solid #B3AEAE;
    border-radius: 5px;
    bottom: 20px;
    display: none;
    float: left;
    left: 130px;
    padding: 10px 20px;
    position: absolute;
    width: 450px;
}

#boxPedidoRealizado .boxCancelarPedido h3
{
	float: left;
    font: 16px 'museo300';
    margin: 0 0 10px;
    width: 100%;
}

#boxPedidoRealizado .boxCancelarPedido textarea
{
	border: 1px solid #DEDEDE;
    color: #333333;
    float: left;
    font: 16px 'museo300';
    margin: 0 0 20px;
    max-width: 95%; 
    padding: 2%;
    width: 95%;
}


#boxPedidoRealizado .boxCancelarPedido .btnVoltar
{
	height: 15px;
    margin: 0 40px 0 60px;
}

#boxPedidoRealizado .boxCancelarPedido label.error
{
	bottom: 48px;
    color: #FF2200;
    float: left;
    font: 12px arial;
    left: 20px;
    position: absolute;
}

#boxPedidoRealizado .boxCancelarPedido textarea.error
{
	border-color: #f20;
}

/*Box cancelar pedido*/