/*Home Newsletter*/

#conteudo #conteudoPrincipal #informacoesConta
{
	float: none;
	margin: 0 auto;
}

#conteudo #conteudoPrincipal #informacoesUltimasAtiv
{
	float: none;
	margin: 20px auto;
}

/*Home Newsletter*/