<%= stylesheet_link_tag 'website/StyleMenuInterno.css' %>
<%= stylesheet_link_tag 'website/StyleQuemSomos.css' %>

<div id="banner" style="background-image: url('<%= retorna_banner("Quem somos") %>')"></div>

<div id="corpoSite">

  <div id="quem_somos">

    <div>
      <%=image_tag 'website/quem_somos_img.png'%>
      
      <h2>Quem Somos</h2>

      <p>De repente, você começa a pensar que tem muitas possibilidades à mesa. Sim, dessa vez na sua casa. Sim, é isso que vamos lhe oferecer: inúmeras formas de reunir a família e os amigos, diversas maneiras de fazer da sua mesa um ponto de encontro. Com os sabores daqui e do resto do mundo.</p>
      <p>Nós queremos que esse seja o seu lugar, o melhor lugar para comprar aquele pão, para encontrar o vinho de uma safra especial ou, quem sabe, para fechar a lista de convidados que degustarão na sua casa uma carne exótica.</p>
      <p>Da comida in natura à semipronta. Pode se preparar! Você ouvira histórias de iguarias e, de um jeito muito especial, será atendido com exclusividade e respeito. Afinal, é bem melhor viver assim.</p>

    </div>

  </div>

  <hr>

  <div id="missao_valores">
    
    <div>
      <h2>Missão</h2>
      <div>
        <p>Criar e oferecer delícias e sabores que resgatem o prazer de estar à mesa, transformando pontos de encontro em sensações únicas, sempre envolvendo nossos clientes, amigos e colaboradores na arte de comer bem, surpreendendo e superando expectativas.</p>
      </div>

      <h2>Valores</h2>
      <div>
        <p>
          Temos como principal valor a qualidade de nossos serviços e produtos. Por isso só trabalhamos com matérias-primas de alta qualidade, e investimos na capacitação de nossos colaboradores, para proporcionar à sua mesa o que a culinária pode oferecer de melhor.
        </p>
      </div> 
    </div>

    <div id="video">
      <iframe style="float:left" width="100%" height="100%" src="//www.youtube.com/embed/OKn0JJQ2LHQ" frameborder="0" alt="Vídeo Institucional DeliDelícia" allowfullscreen></iframe>
    </div>
  
  </div>

</div>